html{
    background: linear-gradient(133deg, rgb(0 0 0) 51%, rgb(66 65 65) 100%);
}
body{
    background: linear-gradient(133deg, rgb(0 0 0) 51%, rgb(66 65 65) 100%);
    font-family:'Noto Sans';
    font-weight: 300;
}

#navbarSupportedContent{
    justify-content: space-between;
}

.navbar-brand img{
    max-height: 60px;
    height: 100%;
}

.main{
    margin-top: 100px;
}

.Outer{
    display: flex;
    justify-self: center;
}
video {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
}

@media screen and (min-width: 992px) {
    .Outer {
        margin: 0 32px;
        display: flex;
        justify-content: center;
        width: 1080px;
    }
    .Outer .collapse {
        /* margin-top: 16px; */
        flex-direction: row-reverse;
    }
}
@media screen and (max-width: 992px) {
    .Outer {
        width: 100%;
        display: block;
        min-height: 40px;
        position: relative;
        text-align: center;
    }
    .Outer .navbar-toggler {
        position: absolute;
        top: 0;
        right: 3%;
    }
}
.navbar-toggler-icon {
    background-image: none;
    color: #FFF;
}
.navbar-toggler{
    border: 0;
}
.nav-link{
    color: #FFF !important;
}
.navbar-brand{
    color: #FFF !important;
    margin-left: 16px;
}

.navbar{
    color: #FFF !important;
    align-items: center;
    background: linear-gradient(22deg, rgb(255 255 255 / 14%), rgb(255 255 255 / 26%), rgb(255 255 255 / 10%));
    box-shadow: inset 0 0.125em 0.125em 0.125em rgb(0 0 0 / 6%),
                inset 0 -0.125em 0.25em 0em rgb(255 255 255 / 56%),
                    0 0.25em 0.5em 0em rgb(0 0 0 / 0.2),
                inset 0 0 0.5em 0.25em rgb(255 255 255 / 27%);
    backdrop-filter: blur(40px);
}
.fa-solid{
    color: #FFF;
}
input{
    color: #FFF;
    border-radius: 99em;
    height: 50px;
    padding: 0;
    line-height: 50px;
    background: linear-gradient(-75deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    box-shadow: inset 0 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.05), inset 0 -0.125em 0.25em 0em rgb(255 255 255 / 64%), 0 0.25em 0.5em 0em rgb(0 0 0 / 0.2), inset 0 0 0.5em 0.25em rgb(255 255 255 / 20%);
}
.btns{
    border-radius: 99em;
    width: fit-content;
    padding: 0 16px;
    /* background: linear-gradient(-75deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    box-shadow: inset 0 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.05), inset 0 -0.125em 0.25em 0em rgb(255 255 255 / 64%), 0 0.25em 0.5em 0em rgb(0 0 0 / 0.2), inset 0 0 0.5em 0.25em rgb(255 255 255 / 20%); */
    transition: .2s ease-in-out;
    margin-inline: 8px;
}
.btns:hover{
    transform: translateY(-5px);
}

button{
    background: none;
    border: none;
}
i{
    cursor: pointer;
}
.small{
    font-size: 12px;
}
.book-swiper {
    width: 100%;
    height: 100%;
    max-width: 1100px;
    max-height: 600px;
    margin: auto;
}

.page {
    width: 100%;
    height: 600px; 
    max-width: 1100px;
    max-height: 600px;
    background: #fff;
    padding: 0px;
    box-shadow: 0 10px 30px rgba(0,0,0,.3); 
    overflow: hidden;
}

.page-inner {
    height: 100%;
    padding: 24px;
    overflow-y: auto;       
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}

.page * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .page > .row {
    height: 100%;
    overflow-y: auto;
} */

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-wrapper{
    width: 100%;
    height: 100%;/* 
    max-width: 1100px;
    max-height: 600px; */
}

.content{
    text-align: justify;
}

@media screen and (max-width: 576px){
    .main{
        margin-top: 70px;
    }
    .book-swiper {
        max-width: 100%;
        /* height: 90vh; */
    }

    .swiper-wrapper,
    .page {
        height: 100%;
        max-height: none;
    }
    
    
    /* 圖片區 */
    .page img {
        max-height: 55vh;
        width: 100%;
        object-fit: contain;
    }

    /* 文字區 */
    .content {
        /* max-height: 35vh; */
        padding: 16px !important;
    }
    .navbar-brand img{
        max-width: 300px;
        width: 100%;
    }
    .btns{
        margin-inline: 2px;
    }
}
@media screen and (max-width: 320px){
    .navbar-brand img{
        max-width: 250px;
        width: 100%;
    } 
}
/* @media screen and (max-width: 768px) {

    .book-swiper .page .row {
      flex-direction: column !important;
    }
  
    .book-swiper .page .row > div {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
 */